.container {
    display: grid;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 50vh;
}

.form {
    background-color: #15172bcb;
    border-radius: 20px;
    box-sizing: border-box;
    height: 650px;
    padding: 20px;
    width: 480px;
}

.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.subtitle {
    background-color: #15172bcb;
    border-radius: 20px;
    color: #eee;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-top: 70px;
    align-content: center;
    text-align: center;
    position: relative;
    justify-content: center;
}

.subtitleGenre {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    align-content: center;
    text-align: center;
    margin-left: 172px;
    display: flex;
}

.subtitlePlat {
    font-family: sans-serif;
/*     color: #eee; */
    background-color: #15172b49;
    border-radius: 20;
    color: #eee;
    display: flex;
    font-size: 16px;
    padding: 0px 5px;
    margin-top: 10px;
    align-content: space-around;
    text-align: center;
    margin-left: 164px;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
}

.input_container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #303245;
    border-radius: 20px;
    border: 0;
    box-sizing: border-box;
    color: rgb(184, 180, 180);
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.submit {
     
    background-color: #4354d62a;
    border-radius: 20px;
    border: 0;
    box-sizing: unset;
    color: #eee;
    font-size: 18px;
    height: 50px;
    margin-bottom: 18px;
    margin-top: 65px;
    margin-left: 350px;
    outline: 0;
    width: 25%;
    margin-right: 350px;
}

.submit:hover {
    background-color: #27213cad;
}

.inputCheck {
    color: black;
    width: 20px;
    position: relative;
    left: 200px;
    vertical-align: middle;
    margin-left: 30px;
    
}

.al {
    position: relative;
    left: -20px;
    display: inline-block;
    vertical-align: middle;
}

.global {
    /* background-color: black; */
    justify-content:center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1511512578047-dfb367046420?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 45px;
    padding-left: 10px;
    padding-right: 10px;
}
@media screen and (max-width: 480px){
    .global{
        width: calc(100% - 80px);
    }
}
/* padding-top: 45px; */

.left {
    float: left;
    width: 20%;
}

.center {
    display: inline-block
}

.right {
    float: right;
    width: 20%;
}

.littlenav {
    width: 136px;
    height: 140px;
    position: inherit;
    padding-right: 30px;
    padding-top: 10px;
}

.bigDiv {
    background-color: rgb(51, 53, 51, 0.2);
}

.back {
    /* #b7b7a4 */
    background-color: transparent;
    border-radius: 12px;
    border: 0;
    box-sizing: unset;
    color: #eee;
    font-size: 15px;
    height: 50px;
    margin-bottom: 8px;
    margin-top: 10px;
    outline: 0;
    text-align: center;
    width: 7%;
    border: 1px solid rgb(52, 58, 64);;
}

.back:hover {
    background-color: rgba(136, 139, 141, 0.1);
    color: rgb(52, 58, 64);
}

.searchBar{
    margin: 0px auto 0;
    margin-bottom:25px;
    width: 100%;
    height: 50px;
    background-color: rgba(52, 73, 94, 0.89);
    border-radius: 8px;
    font-size: 0;
/*     position:absolute; */
/*     width: 100vh; */
}

.box_select {
    background-color: #15172b;
    color: #303245;
    padding: 5px;
/*     width: 88%;
    height: auto; */
    border: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.678);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    color: rgb(71, 84, 100);
}

.imgLogo{
    justify-content: center;
    align-items: center;
    margin-right: 50px
}

.error{
    border: 1px solid red;
    color: red;
}