.label {
    font-size: 16px;
    margin-bottom: 7px;
    color: #34495e;
}

.box_select {
    background-color: rgb(333, 76, 92, 0.7);
    color: #212529;
    padding: 5px;
    width: 100px;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}