.content {
    opacity: 1;
    background-image: url('https://wallpaperaccess.com/full/2825826.gif');
    background-size: cover;
    background-position: center 25%;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.conTitle {
    background: #00002075;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 15%;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}

.title {
    font-size: 50px;
/*     font-family: 'Audiowide', cursive; */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-content: center;
    position: relative;
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    margin: unset;
    color:#13FFFF;
}

.bt {

    background:rgba(241, 22, 186, 0.5);
    width: 200px;
    height: 200px;
    padding: 15px 12px;
    border-radius: 100px;
    text-align: center;
    display: inline-block;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
    cursor: pointer;
    outline: none;
    margin: 16px 0 0 0;
    -webkit-appearance: button;
    transition: 0.3s ease;
}

.bt:hover {
    border-color: black;
    border: 1px solid black;
    background-color: transparent;
    background: rgba(82, 118, 214, 0.5);

}