.content {
    opacity: 1;
    background-image: url('https://images.unsplash.com/photo-1610041321327-b794c052db27?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
    background-size: cover;
    background-position: center 70%;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.conTitle {
    background: rgba(241, 44, 192, 0.336);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 30%;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}

.title {
    font-size: 50px;
    font-family: 'Audiowide', cursive;
    text-align: center;
    align-content: center;
    position: relative;
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    margin: unset;
}

.bt {
    background: rgba(82, 118, 214, 0.5);
    padding: 15px 12px;
    border-radius: 60px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    font-family: 'Impact';
    border: 1px solid;
    cursor: pointer;
    outline: none;
    margin: 16px 0 0 0;
    -webkit-appearance: button;
    transition: 0.3s ease;
}

.bt:hover {
    background-color: transparent;
    color:rgba(241, 22, 186, 0.795);
}