nav {
    margin: 0px auto 0;
    position: flex;
    width: 700px;
    height: 50px;
    background-color: rgb(52, 73, 94, 0.6);
    border-radius: 8px;
    font-size: 0;
}

nav span {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav, span:nth-child(1):hover {
    color: #1abc9c;
}

nav form {
    display: inline-block;
    width: 480px;
    justify-content: center;
    border: solid 1px rgb(52, 73, 94, 0.6);
}

nav input {
    height: 25px;
    width: 410px;
    border: none;
    padding-left: 15px;
    outline: 0;
    margin-bottom: 3px;
}

nav button {
    height: 26px;
    width: 45px;
    border: none;
    cursor: pointer;
    font: caption;
    text-align: center;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: column;
}

.searchBar{
    margin: 0px auto 0;
    margin-bottom:25px;
    width: 100%;
    height: 50px;
    background-color: rgba(52, 73, 94, 0.89);
    border-radius: 8px;
    font-size: 0;
}